.none{
    text-decoration: none;
    list-style: none;
}

.line{
    width: 33px;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin: 5px 3px;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger{
    display: none;
}

.cross{
    display: none;
}

.point:hover{
    color: #E3AE57;
}
@media only screen and (max-width: 800px) {
    .cross{
        display: inline-block;
    }
    .navbar-resp{
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .hide{
        display: none;
    }
    .line{
        display: block;
    }
}